 html {
  scroll-behavior: smooth;
 }
 /*pro scrolování po kliku na navbaru*/
 .guide{  /*zbytečné, bylo to na hovno*/
    margin:0px;
 }
 body {
    font-family:Arial, Helvetica, sans-serif;
    /*background-color:#c8c8c8;*/
    color:#ffffff;
    font-size: 30px;
    text-align:center;
    background-image: url(../../foto/uvod\ foto/JMK.jpg);
    background-size: cover;
    background-position-x: center;

 }

 section.text {
  background-image: url(foto/uvod\ foto/vinice_pozadí.png);
  background-size: cover;
  background-position-x: center;
  background-color:#ffffff1e !important;  /*mění průsvitnost pozadí vinic*/
 }
 
 h1 {
    color:#000000;
    font-family: Impact, sans-serif;
    font-size: 150px;
    text-shadow: #ffffff 0px 0px 20px;
    padding-top: 0px;
    padding-bottom: 0px;
 }


 /*čudlík na začnutí hry*/
 .button {
   background-color: #357a28;
   border-color: #357a28;
   color: #ffffff;
   text-shadow: #000000 0px 0px 5px;
   padding: 32px 350px;
   text-align: center;
   display: inline-block;
   font-size: 35px;
   margin-bottom: 150px;
   border-radius: 50px;
   transition-duration: 0.4s;
 }

 .button:hover {
   background-color: #357a28;
   border-color:#ffffff;
   color: white;
   cursor:inherit ;
   box-shadow: #83ffbb 0px 0px 50px;
   text-shadow:#fff 0px 0px 0px;
 }

/* Navbar Styling */
nav {
  top:0;
  position: sticky;
  background-color: #0000006c;
  border-radius: 25px;
}
 
 ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   font-size: 35px;
   border: 10px solid #357a28;
   border-radius: 25px;
   font-family: "Lexend Deca", sans-serif;
 }

 .navbar-logo {
   float: left;
   padding-left: 50px;
   padding-top:15px;
  }

 li {
   float: right;
   padding-inline: 75px;;
 }
 
  li.jaroslav:hover a {
  color:#83ffbb
 }

 li a, .dropbtn {
   display: inline-block;
   color: white;
   text-align: center;
   padding: 14px 0px 14px 50px;
   text-decoration: none;
   
 }
 li.o_nas:hover a{
  color: #83ffbb;
 }

 li:hover svg {
  fill: #83ffbb;
 }

 li a:hover, .dropdown:hover .dropbtn {
   color:#83ffbb;
 }
  li:hover a svg, .dropdown:hover .dropbtn svg {
  fill: #83ffbb;
}
 
 li.dropdown {
   display:inline-block;
 }
 
 .dropdown-content {
   display: none;
   position: absolute;
   min-width: 160px;
   background-color: #0000006c;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,1);
   border-bottom-left-radius: 25px;
   border-bottom-right-radius: 25px;
   z-index: 1;
   border-left: 10px solid #357a28;
   border-right: 10px solid #357a28;
   border-bottom: 10px solid #357a28;
 }
 
 .dropdown-content a {
   color: #ffffff;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
   text-align: left;
 }
 
 .dropdown:hover .dropdown-content {
   display: block;
 }

 svg {
  width: 30px;
  fill:#fff;
 }
 svg:hover {
  fill:#83ffbb;
  cursor:pointer;
 }

 .svg{
  width:40px;
  filter: brightness(0) invert(1);
 }
 .svg:hover{
  filter: brightness(0) saturate(100%) invert(73%) sepia(33%) saturate(577%) hue-rotate(94deg) brightness(104%) contrast(95%);
  cursor:pointer;
 }

/* Main Content Area */
main {
   padding: 20px;
}

img{
    height: auto;
    width: 1500px;
}